- title 'Employee'
- if @users.blank?
  .empty
    .ui.container
      .introduction
        %h2
          Add Employees
        %p
          Employee belongs to Department, they can view their own payslip
        %p
          leader has the ability to view all employee payslip in the department
        = button_tag  class:'positive ui icon button', data:  { behavior: "addemployee" } do
          %i.add.icon
          Add Employee
- else
  .employee_list
    .ui.container.fluid
      %table.ui.green.table
        %thead
          %tr
            %th ID
            %th EMAIL
            %th FIRST NAME
            %th LAST NAME
            %th ANNUAL SALARY
            %th SUPER RATE
            %th DEPARTMENT(ASSIGNED)
            %th OPERATE
        %tbody
          - @users.each do |u|
            %tr
              %td #{u.id}
              %td #{u.email}
              %td #{u.first_name}
              %td #{u.last_name}
              %td #{u.annual_salary}
              %td #{u.super_rate}
              %td
                = form_tag  change_namespace_employee_path(u), method: :put do
                  = select_tag :namespace, "<option value='0'>None assigned</option>" + options_from_collection_for_select(@namespaces, "id", "name", u.namespace.present? ? u.namespace.id : nil), { prompt: u.namespace.present? ? "" : "none assigned", class:'change_namespace ui dropdown' }
              %td
                .ui.buttons
                  = link_to "#", class:'ui mini basic green button', title: 'edie employee' do
                    %i.edit.icon
                  = link_to "#", class:'ui mini basic red button', title: 'delete employee' do
                    %i.delete.icon
                  - if u.namespace.present?
                    = set_leader_link u
      = paginate @users
