- title "注册"
.clearance.sign-up
  .ui.middle.aligned.center.aligned.grid
    .column
      %h2.ui.teal.image.header
        %i.payment.icon
        .content
          Sign-up
      = form_for @user, html: {class:'ui large form user_signup'} do |form|
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              %i.user.icon
              = form.text_field :email, type: 'email'
          .field
            .ui.left.icon.input
              %i.lock.icon
              = form.password_field :password
          = form.submit "Sign up", class:'ui fluid large teal submit button'
        .ui.error.message
        .other-links
          = link_to t(".sign_in"), sign_in_path
