!!!
%html
  = render 'head'
  - meta_tag :description,""
  - meta_tag :keywords,""
  %body{class:"#{controller_name} #{action_name}"}
    = render 'flash'
    = include_gon
    = render  'header'
    = yield
